@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
	// * Text color
	--color-blue: rgb(255, 255, 255);
	--color-blue-2: rgb(16, 86, 133);
	--color-blue-3: rgb(0, 42, 108);
	--color-white: rgb(255, 255, 255);
	--color-white-2: rgb(177, 189, 210);
	// * Bg color
	--bg--color-white: rgb(54, 107, 167);
	--bg--color-green: rgb(12, 137, 154);
	// * Font Family
	--default-font: 'Montserrat', sans-serif;
}
