@* Website Header *@
<header>
  <div class="header-wrapper">
    @*
      Website Logo
    *@
    <div class="logo">
      <a href="" class="logo-img">
        <svg class="icon icon-blogger">
          <use xlink:href="#icon-blogger"></use>
        </svg>
      </a>
      <a href="" class="logo-text">
        <p class="ap-name">Alpgiray HAŞLAK</p>
        <p class="ap-title">Research Assistant</p>
      </a>
    </div>

    @* Navigation *@
    <button id="nav-cta" class="menu-btn">
      <svg class="icon icon-menu">
        <use xlink:href="#icon-menu"></use>
      </svg>
    </button>

    <nav id="main-nav" class="main-menu">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">CV</a></li>
        <li><a href="">Research</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </nav>
  </div>

</header>